1. What are data structures, and why are they important?

Data structures are ways to organize and store data so we can use it efficiently. They are important because they help in writing clean code, saving memory, and making programs faster.

2. Explain the difference between mutable and immutable data types with examples.

Mutable means we can change the data (like list: [1, 2, 3] → we can add or remove items). Immutable means once created, it can’t be changed (like tuple: (1, 2, 3)).

3. What are the main differences between lists and tuples in Python?

Lists are mutable, use [], and are slower. Tuples are immutable, use (), and are faster.

4. Describe how dictionaries store data

Dictionaries store data as key-value pairs like {‘name’: ‘John’}, using a hash table internally.

5. Why might you use a set instead of a list in Python?

Sets don’t allow duplicates and are faster for checking if an item exists.

6. What is a string in Python, and how is it different from a list?

A string is a sequence of characters. It is immutable, while a list is mutable and can hold any data type.

7. How do tuples ensure data integrity in Python?

Tuples can’t be changed, so once data is stored, it’s safe from accidental modification.

8. What is a hash table, and how does it relate to dictionaries in Python?

A hash table is a structure that maps keys to values using a hash function. Python dictionaries use hash tables internally.

9. Can lists contain different data types in Python?

Yes, lists can contain any data type like numbers, strings, or even other lists.

10. Explain why strings are immutable in Python

Strings are immutable to make them safe and efficient when used in multiple places or loops.

11. What advantages do dictionaries offer over lists for certain tasks?

Dictionaries are faster for lookup if you know the key, while lists are slower since you might have to search through them.

12. Describe a scenario where using a tuple would be preferable over a list.

When you want to store fixed data like days of the week (("Mon", "Tue", ...)) that shouldn’t change.

13. How do sets handle duplicate values in Python?

Sets automatically remove duplicates. If you add the same value again, it’s ignored

14. How does the “in” keyword work differently for lists and dictionaries?

In lists, it checks for values; in dictionaries, it checks for keys.

15. Can you modify the elements of a tuple? Explain why or why not

No, tuples are immutable. Once created, you can’t change their elements.

16. What is a nested dictionary, and give an example of its use case?

student = {'name': 'Rahul', 'marks': {'math': 90, 'science': 85}}

17. Describe the time complexity of accessing elements in a dictionary

It’s usually O(1), which means it takes constant time.

18. In what situations are lists preferred over dictionaries?

When the order matters or you don’t need to label data with keys.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Earlier versions of Python didn’t preserve order in dictionaries. Now they do, but still, we don’t access data by position, only by keys.

20. Explain the difference between a list and a dictionary in terms of data retrieval

In lists, we use index numbers (e.g., list[0]), but in dictionaries, we use keys (e.g., dict["name"])

1. Write a code to create a string with your name and print it

In [1]:
name = "Your Name"
print(name)

Your Name

2. Write a code to find the length of the string "Hello World"

In [2]:
text = "Hello World"
print(len(text))

11

3. Write a code to slice the first 3 characters from the string "Python Programming"

In [3]:
s = "Python Programming"
print(s[:3])

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [4]:
print("hello".upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [5]:
s = "I like apple"
print(s.replace("apple", "orange"))

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it

In [6]:
nums = list(range(1, 6))
print(nums)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [7]:
nums = [1, 2, 3, 4]
nums.append(10)
print(nums)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [8]:
nums = [1, 2, 3, 4, 5]
nums.remove(3)
print(nums)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [9]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50]

In [10]:
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it

In [11]:
t = (100, 200, 300)
print(t)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [12]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [13]:
nums = (10, 20, 5, 15)
print(min(nums))

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [14]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [15]:
fruits = ('apple', 'banana', 'mango')
print('kiwi' in fruits)

False

16. Write a code to create a set with the elements {'a', 'b', 'c'} and print it

In [16]:
s = {'a', 'b', 'c'}
print(s)

{'b', 'a', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [17]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [18]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [19]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [20]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [21]:
person = {"name": "John", "age": 25, "city": "Delhi"}
print(person)

{'name': 'John', 'age': 25, 'city': 'Delhi'}

22. Write a code to add a new key–value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [22]:
d = {'name': 'John', 'age': 25}
d['country'] = 'USA'
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [23]:
d = {'name': 'Alice', 'age': 30}
print(d['name'])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [24]:
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d['age']
print(d)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [25]:
d = {'name': 'Alice', 'city': 'Paris'}
print("city" in d)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all

In [26]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 10, 'b': 20}

print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 10, 'b': 20}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result

In [27]:
import random

numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[15, 38, 46, 52, 91]

28. Write a code to create a list with strings and print the element at the third index.

In [28]:
words = ["apple", "banana", "cherry", "date", "elderberry"]
print(words[3])

date

29. Write a code to combine two dictionaries into one and print the result

In [29]:
d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}

combined = {**d1, **d2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [30]:
string_list = ["apple", "banana", "cherry", "apple"]
string_set = set(string_list)
print(string_set)

{'banana', 'cherry', 'apple'}